---
import favicon from '@/assets/ui/favicon.png';
import { Image } from 'astro:assets';
---

<a href="/" class="flex items-center gap-2">
  <Image src={favicon} alt="Site logo" width={24} height={24} class="rounded filter dark:invert" />
  <span class="text-2x font-bold text-primary"> iemshaheen </span>
</a>
